<!doctype html>
<html>
  <head>
    <title>Manual Cross browser testing</title>
	<script type="text/javascript" src="/public/js/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="/public/js/jquery-ui-1.10.0.custom.js"></script>
	<script type="text/javascript" src="/public/js/Custom/custom.js"></script>
	<script type="text/javascript" src="/public/js/Custom/extension.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
  </head>
  <body style="background-color:#F5DA81;">
	<div id="extension_m_c">
		<ul class='info'>
			<li>Click <span><a href="#" id="open_server_m_c"> Here</a></span> to run the server</li>
			<li>Press <span><a href="#" id="open">Here</a></span> (or Ctrl+b) to start replicating</li>	
			<li>Press <span><a href="#" id="close">Here</a></span> to stop</li>
			<li><span><a href="#" id="more_m_c">More</a></span></li>
			<li class='more_m_c'>Replicate on: 
				<select class='more_m_c'>
					<option>Internet Explorer</option>
					<option>Fire Fox</option>
				</select>
			</li>
			<li class='more_m_c'>display notification
				<input type='checkbox' checked='true'></input>
			</li>
		</ul>
	</div>
	<div id="options_m_c">
		<ul class='option'>
			<li><span><a href="#" id="advance_options_m_c">Advanced Options</a></span></li>
			<li class='option_m_c'>save workflow
				<input type='checkbox' checked='flase' id="workflow"></input>
			</li>
			<li class='option_m_c'>
				<input type='text' id="test-name" placeholder="Enter Test Name"></input>
			</li>
			<li class='option_m_c'>
				<input type='file' id="openTest" placeholder="Select Test"></input>
				<input type="submit" value="Run Test" id="run_test"/>
			</li>
		</ul>	
	</div>	
	<small>© 2013</small>
  </body>
</html>

